* {
  margin: 0px;

  padding: 0px;
}
body {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
body::-webkit-scrollbar,
.section::-webkit-scrollbar {
  display: none;
}
.section {
  margin: 20px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: none;
}
h3 {
  display: block;
}
section > img {
  margin: 5px;
}
